# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database
db.sqlite3

# Static & Media
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db